body {
	margin: 0;
	min-width: 1024px;
	font-family: "Helvetica Neue", Helvetica, Arial, Helvetica, Geneva, sans-serif;
	background: url(images/cards_bg.png) repeat;
	overflow-x: hidden;
}

#bird_icon {
	width: 39px;
	height: 24px;
	display: inline-block;
	background: url(images/bird.png) no-repeat;
	padding-right: 10px;
}

div.card {
	position: absolute;
	display: block;
	background: url(images/card_bg.png) no-repeat;
	width: 1218px;
	height: 801px;
}

.frame {
	background: url(images/avatar_frame.png) no-repeat;
	position: absolute;
	height: 402px;
	width: 402px;
}

img.profile_pic {
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px; /* border radius */
		
	width: 400px;
	height: 400px;
}

div.author_info {
	padding: 44px;
	width: 402px;
	float: left;
}

#cards {
	margin: auto;
	padding-top: 50px;
}

#cards div.card div.author_info p.name {
	color: #354155; /* text color */
	
	
	
	text-shadow: 0 1px 0 #fff; /* drop shadow */
	
	font: bold 48px "Helvetica Neue";
	margin: 10px 0 0;
}

#cards div.card div.author_info p.timestamp {
	color: #878787; /* text color */
	
	
	
	text-shadow: 0 1px 0 #fff; /* drop shadow */
	
	font: bold 36px "Helvetica Neue";
	bottom: 10px;
}

div.tweet {
	color: #354155; /* text color */
	
	
	
	text-shadow: 0 1px 0 rgba(255,255,255,.75); /* drop shadow */
		
	display: block;
	font: bold 60px "Helvetica Neue";
	overflow: hidden;
	height: 710px;
	width: 634px;
	padding: 40px;
}

#cards div.card div.author_info p.handle {
	color: #878787; /* text color */
	
	
	
	text-shadow: 0 1px 0 #fff; /* drop shadow */
	
	font: bold 40px "Helvetica Neue";
	margin: 0;
}

#header {
	color: #fff; /* text color */
	text-shadow: 0 2px 0 rgba(0,0,0,.4); /* drop shadow */
	font: bold 30px "Helvetica Neue";
	background: url(images/header_bg.png) repeat-x;
	height: 118px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 35px;
}

#instructions {
	float: left;
}

#questions {
	float: right;
	text-align: right;
	font-weight: normal;
	font-style: normal;
}

#footer {
	width: 100%;
	text-align: center;
	background-image: url(images/footer.png);
	height: 180px;
	padding-top: 30px;
	position: absolute;
	bottom: 0;
}

#pointy {
	background-image: url(images/pointy.png);
	width: 28px;
	height: 23px;
	margin-left: auto ;
	margin-right: auto ;
	display: block;
	position: relative;
	top: -30px;
}

#dynamic-text-wrapper {
    display:inline-block;
    position:relative;
    height:30px;
}
#old-text, #new-text {
    position:absolute;
    display:block;
}
#new-text { display:none; }
#dynamic-text-wrapper, #old-text, #new-text {
    width:600px;
}